header {
	background: #5c368f;
    font-size: 100% ;
    text-align: center;

}

header img{
	position: relative;
	right: 43%;
	
	width: 14%;
	top: 2px;
	height: 10%;


}

header h1{
	font-size: 79px;
	color: #B94AF0;
	position: absolute;
	width: 104%;
	top: 8%;
}

nav {
	border: 5px solid #56976f;
}

div {
	border: 5px solid #56976f;
	padding: 20px;
}

.navegando{
	display: inline block;
	font-size: 40px;
	border: 3px dashed #300000;
	border-radius: 10px;
	margin-top: 10%;
    	margin-bottom: 22%;
    	margin-left: 20%;
	text-decoration: none
}

nav a {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}


nav a:hover {
	color: #701A03;
	text-decoration: underline;
}

.texto {
	text-align: center;
}

.titulu{
	font-size: 35px;
	margin: 5px;
	padding: 5px;
	font-weight: bolder;
	color: #94FFDD;
}
